{% extends "base.html" %}
{% block title %} Ajouter un FILM (WTF) {% endblock %}
{% block body %}
<div class="wrap">
	<p>Ajouter un nouveau FILM (WTForms)</p>
	<form action="" method="POST" novalidate>
		{{ form_add_film.hidden_tag() }}
		<div class="form-stack">
			<p>
				{{ form_add_film.nom_film_add_wtf.label }}<br>
				{{ form_add_film.nom_film_add_wtf(size=32) }}<br>
				{% for error in form_add_film.nom_film_add_wtf.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			Voilà c'est juste pour vous montrer l'ossature du projet je n'ai pas tout fait...
		</div>
		{{ form_add_film.submit(class="btn btn--primary") }}
	</form>
</div>
{% endblock %}
