{% extends "base.html" %}
{% block title %} Effacer un PRODUIT (WTF) {% endblock %}
{% block body %}
<div class="wrap">
	<p>Effacer un PRODUIT</p>
	<form action="" method="POST" novalidate>
		{{ form_delete.hidden_tag() }}
		{% if data_objets_associes %}
			<h3>Ce produit est associé avec :</h3>
		{% else %}
			<h3>Ce produit à effacer n'est associé à aucun enregistrement.</h3>
		{% endif %}
		<div class="table-wrap">
			<table class="data-table data-table--bordered data-table--compact">
				{% if data_objets_associes %}
					<thead>
						<tr>
							<th>Éléments associés</th>
						</tr>
					</thead>
					{% for row in data_objets_associes %}
						<tbody>
							<tr>
								<td>{{ row.description_assoc }}</td>
							</tr>
						</tbody>
					{% endfor %}
				{% endif %}
			</table>
		</div>

		<div class="form-stack">
			<p>
				{{ form_delete.nom_produit_delete_wtf.label }}<br>
				{{ form_delete.nom_produit_delete_wtf(size=32, readonly=true) }}<br>
				{% for error in form_delete.nom_produit_delete_wtf.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
		</div>
		{{ form_delete.submit_btn_conf_del(class="btn btn--info") }}

		{% if btn_submit_del %}
			{{ form_delete.submit_btn_del(class="btn btn--danger") }}
		{% endif %}

		{{ form_delete.submit_btn_annuler(class="btn btn--primary") }}
	</form>
</div>
{% endblock %}
