{% extends "base.html" %}
{% block title %} Ajouter un PRODUIT (WTF) {% endblock %}
{% block body %}
<div class="wrap">
	<p>Ajouter un nouveau PRODUIT (WTForms)</p>
	<form action="" method="POST" novalidate>
		{{ form.hidden_tag() }}
		<div class="form-stack">
			<p>
				{{ form.nom_produit_wtf.label }}<br>
				{{ form.nom_produit_wtf(size=32) }}<br>
				{% for error in form.nom_produit_wtf.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p>
				{{ form.prix_wtf.label }}<br>
				{{ form.prix_wtf(size=32) }}<br>
				{% for error in form.prix_wtf.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p>
				{{ form.quantite_stock_wtf.label }}<br>
				{{ form.quantite_stock_wtf(size=32) }}<br>
				{% for error in form.quantite_stock_wtf.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p>
				{{ form.fk_modele_wtf.label }}<br>
				{{ form.fk_modele_wtf(size=32) }}<br>
				{% for error in form.fk_modele_wtf.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
		</div>
		{{ form.submit(class="btn btn--primary") }}
	</form>
</div>
{% endblock %}
