{% extends "base.html" %}
{% block title %} Editer un PRODUIT (WTF) {% endblock %}
{% block body %}
<div class="wrap">
	<p>Editer un PRODUIT</p>
	<form action="" method="POST" novalidate>
		{{ form_update.hidden_tag() }}
		<div class="form-stack">
			<p>
				{{ form_update.nom_produit_update_wtf.label }}<br>
				{{ form_update.nom_produit_update_wtf(size=32) }}<br>
				{% for error in form_update.nom_produit_update_wtf.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p>
				{{ form_update.prix_update_wtf.label }}<br>
				{{ form_update.prix_update_wtf(size=32) }}<br>
				{% for error in form_update.prix_update_wtf.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p>
				{{ form_update.quantite_stock_update_wtf.label }}<br>
				{{ form_update.quantite_stock_update_wtf(size=32) }}<br>
				{% for error in form_update.quantite_stock_update_wtf.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p>
				{{ form_update.fk_modele_update_wtf.label }}<br>
				{{ form_update.fk_modele_update_wtf(size=32) }}<br>
				{% for error in form_update.fk_modele_update_wtf.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
		</div>
		{{ form_update.submit(class="btn btn--primary") }}
	</form>
</div>
{% endblock %}
